@import "tailwindcss";

@theme {
  --color-bg-viewport: #EDCB8C;
  --color-bg-main: #F6E1C3;
  --color-bg-card: #F8EAD2;
  --color-accent: #7c5329;
  --color-accent-hover: #6b4620;
  --color-sage: #8A9A86;
  --color-text-primary: #2D312E;
  --color-text-secondary: #5C625D;
}