@import "tailwindcss";

@theme {
  --color-bg-main: #FAFAF7;
  --color-bg-card: #F4F4EE;
  --color-accent: #D97757;
  --color-accent-hover: #C56546;
  --color-sage: #8A9A86;
  --color-text-primary: #2D312E;
  --color-text-secondary: #5C625D;
}